:root {
    --grid-rows: 1;
    --grid-cols: 1;
    --cell-width: 16px;
    --cell-height: 16px;
    --adjust-value: 16;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3d3d3d;
    color: white;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.grid-container {
    display: grid;
    /* border: 1px solid white; */
    grid-gap: none;
    grid-template-columns: repeat(var(--grid-cols), 0fr);
    grid-template-rows: repeat(var(--grid-rows), 0fr);
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid white;
    padding: 1px;
    height: var(--cell-height);
    width: var(--cell-width);
    
    
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: repeat(calc(var(--grid-cols) - var(--adjust-value)), 0fr);
        grid-template-rows: repeat(calc(var(--grid-rows) - var(--adjust-value)), 0fr);
    }
}