:root {
    /*Default values*/
    --grid-rows: 1;
    --grid-cols: 1;
    --cell-width: 16px;
    --cell-height: 16px;
    --adjust-value: 16; /* This value is meant to adjust the grid for smaller screens. Used in @media query */

    --bg-color: #313c5d;
    --grid-bg-color: #306ed8;
    --button-color: #d75788;
    --cell-bg-color: #D8D8D8;
    --text-color: #D8D8D8;
    --title-color: #91a5cb;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    color: #D8D8D8;
}

h1 {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    color: #D8D8D8;
} 

h2 {
    font-weight: 400;
    color: var(--cell-bg-color);
    padding: 1rem;
    text-decoration: overline 2px solid white
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.board {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.grid-container {
    background-color: var(--grid-bg-color);
    border: 2px solid #306eAF;
    padding: 5em;
    border-radius: 15px;
    margin: 5em;
    display: grid;
    grid-gap: none;
    grid-template-columns: repeat(var(--grid-cols), 0fr);
    grid-template-rows: repeat(var(--grid-rows), 0fr);
    justify-content: center;
    align-items: center;
}

.cell {
    background-color: var(--cell-bg-color);
    border: 1px solid #3d3d3d;
    padding: 1px;
    height: var(--cell-height);
    width: var(--cell-width);
}


.controller {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--grid-bg-color);
    border-radius: 15px;
    margin: 2rem;
    padding: 2em;
    justify-content: space-between;
}


button {
    background-color: var(--button-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    width: 80%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 1rem;
    margin: .5em;
    white-space: nowrap;
    cursor: pointer;
}

button:hover, button:focus{
    background-color: rgb(241, 7, 97);
}



.color-container {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.color-picker {
    display: none;
}

@media (max-width: 805px) {
    .grid-container {
        grid-template-columns: repeat(calc(var(--grid-cols) - var(--adjust-value)), 0fr);
        grid-template-rows: repeat(calc(var(--grid-rows) - var(--adjust-value)), 0fr);
    }
    .controller {
        flex-direction: column;
        flex-shrink: none;
        
    }
    .board {
        flex-direction: column;
    }
}